{
  "extends": "stylelint-config-standard",
  "rules": {
    "font-family-no-missing-generic-family-keyword": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "declaration-empty-line-before": null,
    "selector-class-pattern": null,
    "alpha-value-notation": "number",
    "color-function-notation": "legacy",
    "at-rule-allowed-list": [
      "media",
      "keyframes",
      "nest",
      "import"
    ]
  }
}
