.dialog--finished {
  max-height: fit-content;
}

.dialog--finished .external-link {
  color: var(--white);
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;  
  text-decoration: none;
  cursor: pointer;
  transition: transform 150ms ease;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.20);

  &:hover {
    transform: scale(1.05);
  }
}

.dialog--finished .primary {
  color: var(--black);
  background: var(--white);
}

.dialog--finished .media-information svg {
  color: rgba(255, 255, 255, 0.7);
  width: 69px;
  height: 9px;
  margin: 0 auto 12px;
}

.dialog--finished .media-information,
.dialog--finished .lower-part {
  display: flex;
  flex: 1;
  width: 80vw;
}

.dialog--finished .media-information {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--grays-pure-white);
}

.dialog--finished .lower-part {
  justify-content: center;
  gap: 8px;
}

@media (height <= 165px) {
  .dialog--finished .media-information svg {
    margin-bottom: 8px;
  }

  .dialog--finished .media-information {
    margin-bottom: 12px;
  }
}

@media (height > 275px) {
  .dialog--finished .external-link {
    padding: 10px 16px;
  }
}
