.dialog--share[open] .media-information {
  justify-content: flex-end;
  margin-bottom: 8vh;
  width: calc(100% - 32px); /* Needed for ellipsis */

  @media (width <= 250px) {
    margin-top: -24vh;
  }

  @media (height <= 120px) {
    display: none;
  }
}

.share-button--link {
  position: relative;
}

.copy--successful .media-information span,
.copy--fail .media-information span {
  display: none;
}

.dialog--share .successful-copy-message,
.dialog--share .failed-copy-message {
  opacity: 0;
  height: 0;
  pointer-events: none;
  transition: opacity 500ms ease;
}

.copy--successful .media-information .successful-copy-message,
.copy--fail .media-information .failed-copy-message {
  opacity: 1;
  height: auto;
  display: block;
}

.share-buttons {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 12px;
  line-height: 1.5;
  gap: 32px;
  text-align: center;

  @media (width <= 250px) {
    width: 80vw;
  }

  @media (height <= 120px) {
    align-items: center;
  }
}

.share-buttons button svg,
.share-buttons a svg {
  width: 16px;
  height: 16px;
  fill: currentcolor;
  margin-bottom: 2px;
}

.share-buttons button {
  font-size: 12px;
  line-height: 1.5;
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }

  to {
    transform: none;
  }
}
