dialog {
  pointer-events: none;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: transparent;
  opacity: 0;
  transition: var(--simple-opacity-transition);
  overflow: hidden;
  border: none;
}

dialog::backdrop {
  background-color: rgba(34, 34, 34, 0.70);
  backdrop-filter: blur(17.5px);
  border-radius: 12px;
}

dialog[open] {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

dialog[open] .media-information {
  width: 100vw;
  text-align: center;
  justify-content: center;
}

.button--close-dialog {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  color: rgba(255, 255, 255, 0.55);
  border-radius: 50%;
}

.button--close-dialog svg {
  pointer-events: none;
  width: 24px;
}

.external-link:focus {
  outline: thin dotted light-dark(var(--black), var(--white));
}
