.dialog--nostr {
  color: white;
}

.dialog--nostr .buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.dialog--nostr .button {
  color: var(--white);
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;  
  text-decoration: none;
  cursor: pointer;
  transition: transform 150ms ease;
  border-radius: 100px;
  background: rgb(255, 255, 255, 0.20);

  &:hover {
    transform: scale(1.05);
  }
}

.dialog--nostr .button--login {
  color: var(--black);
  background: var(--white);
}

.dialog--nostr nostr-login-button[loading] .button--login {
  padding: 0.542em;
}

.dialog--nostr p {
  font-size: 14px;
  margin: 0;
  padding: 0 0.8em 1em;
  border-radius: 6px;
}

.dialog--nostr nostr-login-button[loading] span,
.dialog--nostr nostr-login-button svg {
  display: none;
}

.dialog--nostr nostr-login-button svg {
  height: 14px;
}

.dialog--nostr nostr-login-button[loading] svg {
  display: block;
}

.dialog--nostr p.error {
  margin: 0 0 1em;
  padding: 0.8em 1em;
  transition: all 500ms ease;
  color: white;
  background-color: #ff3269;
}
