.dialog--error {
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100vw;
  height: 100vh;

  user-select: none;
}

.dialog--error .feedback-message {
  padding: 0.75em 80px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  background: #fff;
  border-radius: 12px;
  text-decoration: none;
}
