@import url("variables.css");
@import url("dialog-base.css");
@import url("dialog-error.css");

html {
  color-scheme: light dark;
}

body {
  font-family: 'Square Sans Text VF', 'Square Sans Text', Helvetica, Arial, sans-serif;
  margin: 0;
}

.top-right-icons {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 11;
}

.top-right-icons svg {
  width: 24px;
  height: 26px;
  fill: #fff;
}
