:host {
  display: grid;
  grid-template-columns: 42px minmax(0, 1fr);
  grid-template-rows: none;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.18px;
  height: 62px;
  contain: strict;
  contain-intrinsic-height: 62px;
  border-bottom: 1px solid light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.10));
  color: light-dark(var(--black), var(--white));
}

::slotted(svg) {
  opacity: 1;
}

:host(:hover) {
  background-color: light-dark(rgba(0, 0, 0, 0.05), var(--surface-20));
}

:host(:focus-visible) {
  outline: light-dark(var(--black), var(--white)) dotted 2px;
  outline-offset: -2px;
}

:host([disabled]) {
  pointer-events: none;
  opacity: 0.4;
  cursor: not-allowed;
}

.index-col {
  text-align: center;
  color: light-dark(var(--emphasis-20), var(--opacity-contrast-fill-thick));
}

::slotted([slot="duration"]) {
  display: none;
}

:host(:hover) ::slotted([slot="index"]),
tidal-play-trigger {
  display: none;
}

tidal-play-trigger {
  height: 48px;
  place-items: center;
}

:host(.current) tidal-play-trigger,
:host(:hover) tidal-play-trigger {
  display: grid;
  color: light-dark(var(--black), var(--white));
}

/* touchscreens */
@media (hover: none) and (pointer: coarse) {
  tidal-play-trigger {
    touch-action: none;
    pointer-events: none;
  }
}

:host(.current) {
  color: light-dark(var(--black), var(--white));
  background-color: light-dark(rgba(0, 0, 0, 0.05), var(--fill-30));
}

.col {
  min-width: 0;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

::slotted([slot="artist"]),
::slotted([slot="title"]) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

::slotted([slot="artist"]) {
  font-size: 10px;
  color: light-dark(var(--emphasis-20), var(--opacity-contrast-fill-thick));
  line-height: 16px; /* 160% */
}

::slotted([slot*="-icon"]) {
  display: block;
  width: 42px;
  height: 12px;
}

::slotted([slot*="-badge"]) {
  display: inline;
  height: 16px;
}

::slotted([slot="video-badge"]) {
  width: 42px;
}

::slotted([slot="video-icon"]),
::slotted([slot="pause-icon"]),
:host(.current) ::slotted([slot="index"]),
:host(.current[data-playback-state="PLAYING"]) ::slotted([slot="play-icon"]) {
  display: none;
}

:host([product-type="video"]) ::slotted([slot="video-icon"]),
:host(.current[data-playback-state="PLAYING"]) ::slotted([slot="pause-icon"]) {
  display: grid;
}

::slotted(time) {
  font-variant-numeric: tabular-nums;
}

::slotted([slot="thumbnail"]) {
  height: 40px;
  display: inline-block;
  border-radius: 6px;
}

.metadata {
  display: inline-flex;
  gap: 10px;
  overflow: hidden;
  align-items: center;
  margin-right: 10px;
}
