:root {
  --white: #fff;
  --black: #000;
  --grey3: #b5b4ba; /* Bombay */
  --grey4: #78777f; /* Jumbo */
  --grey5: #504f54; /* Scarpa Flow */
  --grey6: #242428; /* Shark */
  --grey7: #101012; /* Woodsmoke */
  --cyan: #0ff; /* Cyan / Aqua */
  --simple-opacity-transition: opacity 150ms ease;
  --animation-timing: cubic-bezier(0.19, 1, 0.22, 1);

  /* Possible widths for cover art image. Multiply by 1.5 for video width */
  --img1: 96px;
  --img-max: 375px;
}
