name: Linting CSS

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - '**.css'
      - 'pnpm-lock.yaml'
      - '.github/'
  pull_request:
    branches: [ "main" ]
    paths:
      - '**.css'
      - 'pnpm-lock.yaml'
      - '.github/'

jobs:
  lint-css:
    runs-on: ubuntu-24.04
    name: Stylelint
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - name: Run Lint Checks
        run: pnpm lint:css
